:root {
  --couleur-blanc: #fff;
  --couleur-noir: #000;

  --couleur-primaire: linear-gradient(35.74deg, rgba(167, 2, 154, 0.7) -2.92%, rgba(167, 2, 154, 0) 106.13%);
  --couleur-secondaire: rgb(167, 2, 154);
}