h1, h2, h3, h4{
  margin: 0;
}

h1{
  font-family: var(--font-secondaire);
  font-size: 36px;
  color: var(--couleur-blanc);

  padding: 22px 0;
}

h2{
  font-family: var(--font-secondaire);
  font-size: 80px;
  line-height: 96px;
  color: var(--couleur-blanc);
}

h3{
  font-size: 40px;
}

h4{
  padding-top: 24px;
}